#homepage #page-headings {
    border-bottom: solid 1px #193c09;
}

#homepage #serveur-details {
    color: white;
    display: inline-block;
}

#homepage #serveur-details .valeurs {
    font-size: 1.2em;
    padding: .5em;
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px 0px black, 0 0 2px black;
    background: rgba(0,0,0,.6);
    border-radius: 0 0 15px 15px;
}

#homepage #serveur-details .acces-candidature {
    display: inline-block;
    background: #3f9718;
    border-radius: 7px;
    padding: .5em .7em;
    margin: 2em 0;
    box-shadow: 0 0 8px rgba(0,50,0,.8);
    color: white;
    border: solid 1px #3f9718;
}

#homepage #serveur-details .acces-candidature:hover {
    background: white;
    color: #3f9718;
    border-color: #3f9718;
}

#homepage #online-status {
    padding: .5em 25%;
    box-shadow: 0 0 20px black;
}

#homepage #online-status > * {
    padding: .3em .5em;
}

#homepage #online-status > :last-child {
    padding-bottom: 0;
}

#homepage #online-status > :not(:last-child) ul:not(:empty) li:last-child {
    margin-bottom: 1em;
}

#homepage #online-status > :last-child ul:not(:empty) li:last-child {
    margin-bottom: .3em;
}

#homepage #online-status dd {
    float: left;
    clear: left;
}

#homepage #online-status dt {
    text-align: right;
}

#homepage #online-status p:after {
    display: inline-block;
    vertical-align: .7em;
    content: "";
    width: .7em;
    height: .7em;
    background: #444;
    border-radius: 100%;
    margin: 0 1em;
    box-shadow: 0 0 1em #444;
}

#homepage #online-status p.online:after {
    background: green;
    box-shadow: 0 0 1em green;
}

#homepage #online-status p.offline:after {
    background: red;
    box-shadow: 0 0 1em red;
}

#homepage #online-status ul {
    clear: both;
    display: block;
    list-style-type: none;
    font-size: 0;
    text-align: left;
}

#homepage #online-status ul li {
    display: inline-block;
    padding: 3px 7px;
    font-size: medium;
}

#homepage #online-status ul li img {
    box-shadow: 0 0 5px rgba(0,0,0,1);
    border-radius: 3px;
}

#homepage #serveur-presentation {
    display: flex;
    flex-flow: row wrap;
    align-items: top;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    vertical-align: middle;
    margin: 3em 1%;
}

#homepage #serveur-presentation li {
    position: relative;
    z-index: 0;
    flex-basis: 33%;
    padding-bottom: 21px;
}

#homepage #serveur-presentation li strong {
    display: block;
    font-size: 1.9em;
    font-weight: normal;
    color: #2a640f;
}

#homepage #serveur-presentation li img {
    display: block;
    margin: .5em auto;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: solid 1px #3f9718;
    background: #3f9718;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

#homepage #serveur-presentation li p {
    font-size: 14px;
    color: #555;
    padding: .5em 2.3em;
    line-height: 1.42857143;
}

#homepage #featurettes {
    box-shadow: 0 0 21px rgba(0,0,0,.4);
    border-top: solid 1px #3f9718;
    border-bottom: solid 1px #3f9718;
}

#homepage #featurettes article {
    background-position: center center;
    background-size: cover;
    padding: 5em 0 5em 0;
    box-shadow: 0 0 20px rgba(0,0,0,.7) inset;
}

#homepage #featurettes article > div {
    display: inline-block;
    position: relative;
    max-width: 50%;
    background: rgba(255,255,255,.85);
    padding: 0 1% 1em 5%;
    box-shadow: 0 0 9px rgba(0,0,0,.5);
}

#homepage #featurettes article > div > p {
    margin: .5em 0;
}

#homepage #featurettes article div > h2 {
    color: #2a640f;
    font-weight: normal;
    font-size: 1.9em;
    padding: .5em 1% .5em 5%;
}

#homepage #featurettes article div > h2 em {
    font-size: .9em;
    color: #666;
    white-space: nowrap;
}

#homepage #featurettes article:nth-child(even) {
    text-align: right;
}

#homepage #featurettes article:nth-child(even) > div {
    padding: 0 5% 1em 1%;
}

#homepage #big-notices {
    text-align: center;
    font-size: 1.3em;
}

#homepage #big-notices article {
    padding: 5em 0;
    margin: 0 4em;
    border-bottom: solid 1px #ddd;
}

#homepage #join-in {
    text-align: center;
    margin: 2em 0;
}

#homepage #join-in p {
    font-size: 1.3em;
}

#homepage #join-in h2 {
    color: #2a640f;
    margin: 1em .5em;
    font-size: 2.2em;
    font-weight: normal;
}

#homepage #join-in #server-ip {
    padding: 1em 1em .5em 1em;
    margin: 1em 0;
    position: relative;
    cursor: pointer;
}

#homepage #join-in #server-ip strong {
    font-weight: normal;
    font-size: 1.6em;
    display: block;
}

#homepage #join-in #server-ip em {
    position: absolute;
    top: 50%;
    right: 1.5em;
    margin-top: -7px;
    font-style: normal;
    font-size: 14px;
}

@media (max-width: 1000px) {
    #homepage #serveur-presentation li {
        flex-basis: 50%;
    }

    #homepage #featurettes article {
        background-size: cover;
        padding: 10em 0 0 0;
        clear: both;
    }

    #homepage #featurettes article > div {
        max-width: 90%;
        width: 90%;
        text-align: left;
        float: left;
        padding: 0 5% 1em 5% !important;
        box-shadow: none;
    }

    #homepage #featurettes article > div > h2 {
        text-align: center;
    }
}

@media (max-width: 600px) {
    #homepage #online-status {
        padding: .5em;
    }

    #homepage #serveur-presentation {
        display: block;
    }

    #homepage #serveur-presentation li img {
        position: absolute;
        height: 105px;
        width: 105px;
        z-index: -5;
        opacity: .2;
        top: 50%;
        margin-top: -52px;
    }

    #homepage #serveur-presentation li p {
        padding: .5em;
        color: #222;
    }

    #homepage #join-in #server-ip em {
        position: initial;
        margin-top: -14px;
    }
}
