/* FONTS
-------------------------------------------------- */

@font-face {
    font-family: "Minecraft";
    src: url('../fonts/Minecraftia-Regular.ttf');
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;

    /* Required for full-width blocks */
    overflow-x: hidden;
}


/* NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}


#main-nav {
    width:auto;
    border-bottom: solid 1px white;
}

#main-nav::before, #main-nav::after {
    display: table;
    content: " ";
}
#main-nav::after {
    clear: both;
}

#main-nav > ul > li > a {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

#main-nav > ul > li a:hover, #main-nav > ul > li a:active, #main-nav > ul > li a:focus {
    color: #fff;
    background-color: transparent;
}

.brand {
    height: 64px;
    width: 100%;

    position: absolute;
    top: -30px;
    left: 0;

    margin: auto !important;
    text-align: center;
}

.brand img {
    height: 64px;
    display: inline !important;
}


/* Sub-menus */

ul.navbar-nav > li:hover {
    background-color: rgba(255, 255, 255, 0.6);

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
}

ul.navbar-nav > li:hover > a {
    color: #333 !important;
}

ul.navbar-nav > li:hover > ul {
    display: block;

    /* The dropdown is one pixel to the left. */
    right: -1px;
}

ul.navbar-nav > li:hover > ul > li > a:hover {
    color: #262626 !important;
    background-color: #f5f5f5 !important;
    text-decoration: none;
}


/* HOMEPAGE HEADER
-------------------------------------------------- */

.homepage-header {
    height: 500px;
    margin-bottom: 60px;
}

.homepage-header-caption {
    padding-top: 100px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 0 2em rgba(26, 26, 26, 0.84), 0 0 2em rgb(0, 0, 0), 0 0 2em rgb(0, 0, 0);
}

#homepage-header-background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 400px;
    overflow: hidden;
    z-index: -1000;

    background: url('../img/accueil-place-flou.png') center top;
    background-size: cover;
}


/* PRESENTATION
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.big-presentation .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.big-presentation h2 {
    font-weight: normal;
}
.big-presentation .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;

    margin-top: -30px;
    margin-bottom: 20px;
}


/* IP & USERS
------------------------- */

.minecraft-dirt-large-area {
    font-family: "Minecraft", "Lucida Console", "Courier New", serif;

    color: white;
    background: url('../img/minecraft-dirt-background.png') repeat;

    padding-top: 15px;
    padding-bottom: 15px;

    /* Full-width block */
    padding-left: 3000px;
    margin-left: -3000px;
    padding-right: 3000px;
    margin-right: -3000px;
}

.zcraft-ip {
    font-size: xx-large;
}

.homepage-online {
    margin-top: 65px;
}

.homepage-online .minecraft-dirt-large-area {
    font-size: 1.15em;
}

.homepage-online .minecraft-dirt-large-area .online-title {
    width: 50%;
    margin: auto;
}

.online-ip {
    text-align: left;
}
.online-status {
    text-align: right;
    float: right;
}

.online-status-dot {
    display: inline-block;
    margin-left: 15px;

    background-color: transparent;
    width: 10px;
    height: 10px;
    border-radius: 50px;

    vertical-align: 50%;
}
.online-status-dot.online {
    box-shadow: 0 0 16px #00b209, inset 0 0 14px #00b209;
}
.online-status-dot.offline {
    box-shadow: 0 0 16px #d11e00, inset 0 0 14px #d11e00;
}
.online-status-dot.unknown {
    box-shadow: 0 0 16px #4f4f4f, inset 0 0 14px #4f4f4f;
}

.online-list {
    text-align: left;
    width: 57%;
    margin: 10px auto auto;
}
.online-list li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}
.online-list li img {
    border-radius: 15%;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
    .navbar-brand {
        display: block;
        text-align: left;
    }

    .navbar-header {
        display: block;
        border-bottom: solid white 1px;
    }
    .navbar-toggle {
        z-index: 1000;

        color: white;
        cursor: pointer;
    }
    .navbar-toggle:hover, .navbar-toggle:active,.navbar-toggle:focus {
        color: white;
        text-decoration: none;
    }

    #main-nav {
        display: none;
    }

    #main-nav.collapsing, #main-nav.collapse.in {
        display: block;

        background: white;
        border-bottom: solid 1px #868686;

        position: absolute;
        left: 0;
        width: 100%;
    }

    #main-nav.collapsing > ul > li > a, #main-nav.collapse.in > ul > li > a {
        color: #333;
        text-shadow: none;

        margin-right: 30px;
        margin-left: 30px;
    }

    #main-nav.collapsing > ul > li > a:hover, #main-nav.collapse.in > ul > li > a:hover {
        background-color: rgba(104, 236, 121, 0.37);
    }

    #main-nav.collapsing > ul.pull-right, #main-nav.collapse.in > ul.pull-right {
        float: none !important;
        border-top: #9d9d9d solid 1px;
    }

    #main-nav.collapsing > ul > li > ul.dropdown-menu, #main-nav.collapse.in > ul > li > ul.dropdown-menu,
    #main-nav.collapsing > ul > li:hover > ul.dropdown-menu, #main-nav.collapse.in > ul > li:hover > ul.dropdown-menu {
        display: block !important;

        position: relative !important;
        right: 0 !important;
        float: none !important;

        border: none;
        box-shadow: none;

        margin-left: 40px;

        background: transparent;
    }

    ul.navbar-nav > li:hover {
        border: none !important;
        border-radius: 0 !important;
    }

    ul.navbar-nav > li:hover > ul {
        display: inherit !important;
        position: relative !important;
        float: none !important;
    }

    #main-nav .caret {
        display: none !important;
    }

    .brand {
        top: -15px !important;
        left: 10px;
    }
    #main_logo img {
        height: 48px;
    }


    .homepage-online .minecraft-dirt-large-area .online-title {
        width: 100%;
    }
    .online-list {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar-brand {
        display: none;
    }
}

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    #main-nav.collapse {
        display: block !important;
    }

    .homepage-header-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}
